{% extends "base.html" %}

{% block content %}

{% for book in all_books %}
<div class="book">
    <div class="title"> <h3><a href="/books/{{book.id}}">{{book.title}}</a></h3> </div>
    
    
    <div class="author"><h3>{{book.author.first_name}} {{book.author.last_name}}</h3></div>
    
    <div class="synopsis"><h4>{{book.synopsis}}</h4></div>
    
    <div class="rating"><h4>Rating: {{book.rating}}</h4></div> 
    
    <form class="delete-form" action = "books/{{book.id}}/delete" method = "POST">
        <button class="trash-button"><i class ="fa fa-trash-o fa-3x" style= "color:red" aria-hidden="true"></i></button>
    </form>
</div>

{% endfor %}
{% endblock %}